<!-- Image and text -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    @*<img src="~/Content/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="Brand" loading="lazy">
                    Bootstrap*@
                </a>
                <button class="btn btn-default navbar-btn" type="button">Home</button>
                <button class="btn btn-default navbar-btn" type="button">Sobre</button>
            </div>
        </div>
    </nav>