body{
    font-family: Lucida Sans Unicode, sans-serif;
    margin: 30px auto;
    width: 85%;
}

h1{
    font-size: 26px;
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 50, 1);
    color: rgb(181, 227, 227);
}

form{
    width: 40%;
    margin: 80px auto;
}

label{
    display: block;
    margin-top: 12px;
}


#log, #pass, .btn{
    display: block;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

.btn{
    margin-top: 25px;
    box-sizing: border-box;
    background-color: floralwhite;
}

#log:focus, #pass:focus{
    background-color: azure;
}

input{
    padding: 15px;
    font-size: 18px;
}

fieldset{
    border-color: orange;
}

legend{
    text-align: center;
    font-weight: bold;
    color: rgba(0,100,180,1)
}